#============= bootanim ==============
allow bootanim nvhost_writable_device:chr_file { read write ioctl open };
allow bootanim self:process execmem;
